@body:#202020;
@big-text:35px;
@content-text:20px;

body {
    background-color: lighten(@body,7%);
}

.hide {
    display: none;
}

.email-valid {
    background-color: greenyellow;
}

.email-invalid {
    background-color: red;
}

.main-content {
    margin-top: 30px;
    
    .text-normalization {
        color: whitesmoke;
    }
    
    .content-text {
        font-size: @content-text;
        text-align: justify;
        padding: 13px;
    }
    
    .header-text {
        text-align: center;
        font-size: @big-text;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    #map {
        height: 75vh;
    }
}

.gallery {
    margin: 50px 30px 50px 30px;
    min-width: 600px;

    .main-image {
        position: relative;
        max-height: 500px;
        height: 500px;
        overflow: hidden;
        
        img {
            width: 100%;
            position: absolute;
            bottom: -100px;
            //height: 100%;
            //transform: scale(0.5, 0.5);
        }
        
        .scroll-left, .scroll-right {
            position: absolute;
            top:45%;
            z-index: 10;
            font-size: 38px;
            padding-top: 6px;
            color: azure;
            height: 50px;
            width: 40px;
            cursor: pointer;
            background-color: rgba(255,255,255,0.4);
            transition: all 500ms ease;
            //only for right
            padding-right: 7px;
            border-radius: 5px 0 0 5px;
            right: 0px;
        }
        
        .scroll-left:hover, .scroll-right:hover {
            background-color: rgba(255,255,255,0.7);
        }
        
        .scroll-left {
            left: 0px;
            right: auto;
            padding-left: 3px;
            border-radius: 0 5px 5px 0;
        }
    }
    
    .gallery-image-container {
        display: inline-block;
        overflow: hidden;
        padding: 5px;
        height: 300px;
        width: 24%;
        box-sizing: border-box;
        margin-top: 10px;
        
        .gallery-image {
            cursor: pointer;
            width: auto;
            height: 100%;
        }
    }
    
    @media (max-width: 700px)
    {
        .gallery-image-container {
            width: 49%;
        }
        
        .main-image {
            max-height: 250px;
            height: 250px;

            img {
                bottom: 0px;
            }
        }
    }
    
    @media (max-width: 1000px)
    {
        .gallery-image-container {
            width: 32%;
        }
        
        .main-image {
            max-height: 400px;
            height: 400px;

            img {
                bottom: 0px;
            }
        }
    }
}

.flexible-images {
    margin-top: 0;
    
    .flexi-img {
        overflow: hidden;
        border: none;
        
        .img-left {
            float: left;
            margin-right: 20px;
        }
        
        .img-right {
            float: right;
            margin-left: 20px;
        }
        
        img {
            height: 100vh;
            width: 100%;
            transition: all 1s ease;
            
            &:hover {
                transform: scale(1.5,1.5);
            }
        }
    }
}

.comment {
    margin-top: 40px;
    
    .comment-text {
        border: 1px solid grey;
        border-radius: 5px;
        resize: none;
        height: 150px;
        width: 100%;
        font-size: 17px;
        box-sizing: border-box;
    }
}

#comentbox > .comment-row {
    .info {
        color: grey;
        
        .name{
            font-size: 20px;
        }
        
        .date {
            font-size: 14px;
            display: inline-block;
            padding-left: 20px;
            font-weight: 600;
        }
        
        .user-mark{
            font-size: 23px;
            display: inline-block;
            padding-left: 20px;
        }
    }
}